.container
  %ul.list-group
    - @articles.each do |article|
      %li.list-group-item
        %h3= article.title
        %p= article.text
  = link_to 'Nowy', new_article_path, class: "btn btn-primary"