h4{
  display: inline-block;
  background-color: rgba(230,230,230,0.8);
}
ul .btn{
  margin-left: 10px;
}
.article-link{
  color: black;
}
.list-group li{
  max-height: 200px;  
}
.list-group li p{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.options-panel{
  width: 100%;
  padding: 10px;
  border-top: 1px solid black;
  text-align: center;
}
