@import 'bootstrap';

h3{
  text-align: center;
}
h4{
  display: inline-block;
  background-color: rgba(230,230,230,0.8);
}
ul .btn{
  margin-left: 10px;
}
.comments{
  text-align: right;
}
input,textarea{
  width: 100%;
};